/*----------Header-----------*/
#hero {
    background: url("../img/bg.png") no-repeat;
    background-size: cover;
    min-height: 750px;
}

.navbar {
    width: 100%;
    background: none !important;
}

.navbar .navbar-toggler {
    cursor: pointer;
}

.navbar-toggle-label {
    font-family: 'Gentium Book Basic', serif;
    color: white;
}

.navbar .nav-link {
    font-size: 21px;
    font-weight: 400;
    color: white !important;
    font-family: 'Gentium Book Basic', serif;
    transition: 0.5s;
}

.navbar .nav-link:hover {
    color: #dab33e !important;
}

.navbar .fa {
    color: #dab33e;
    font-size: 19px;
    transition: 0.5s;
}

.fa:hover {
    color: white;
}

.navbar .nav-item {
    padding: 0 5px;
}

.row h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 90px;
    color: white;
}

.text-center {
    padding-top: 70px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 40px;
    opacity: 0.9;
}

.hero-content {
    text-align: center !important;
}

.section-btn {
    padding-top: 100px;
    text-align: center !important;
}

.section-btn .btn {
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 18px 60px;
    margin: 0 15px;
    transition: 0.5s;
    border: none;
    text-align: center !important;
}

.section-btn .btn-default {
    color: black;
    border-radius: 0;
}

.btn-primary {
    background: black !important;
    opacity: 0.6;
}

.btn-primary:hover {
    background: black !important;
    opacity: 1;
}

.btn-default {
    background: white !important;
    opacity: 0.6;
    color: black;
}

.btn-default:hover {
    opacity: 1;
    background: white !important;
    color: black;
}

/*----------Food-----------*/

#food {
    background: url("../img/pattern.png") no-repeat;
    background-size: cover;
    min-height: 710px;
}

.food-content h2 {
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    color: #cc9900;
    padding-top: 70px;
}

.food-content p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.food-content {
    padding-left: 40px;
    text-align: center !important;
    max-width: 450px; /*Починить*/
}

.food-content img {
    width: auto;
    height: auto;
}

.dish {
    margin-top: 35px;
    margin-left: 40px;
    width: auto;
    height: auto;
}

/*----------Ingredients-----------*/

#ingredients {
    background: white url("../img/ingredients.png") no-repeat;
    background-size: cover;
    min-height: 760px;
}

.ingredients-content h2 {
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    color: white;
    padding-top: 70px;
}

.ingredients-content p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: white;
}

.grad {
    margin-top: 90px;
    margin-left: 500px;
    display: block;
    height: 557px;
    width: 570px;
    background-image: radial-gradient(ellipse, transparent 0%, black);
}

.food-pictures {
    margin-top: 50px;
}

.food-pictures img {
    margin-right: 25px;
}

.food-pictures img:last-child {
    margin-right: 0;
}

/*--------------------Menu----------------------*/

#menu .container {
    display: flex;
    flex-direction: column;
}

#menu {
    background: white url("../img/menuPattern.png") no-repeat;
    background-size: cover;
    min-height: 994px;
}

.menu-item {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

.menu-title {
    text-align: center;
    margin-top: 100px;
    padding-bottom: 25px;
}

.menu-item h3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 21px;
    border-bottom: solid 1px #c89f2d;
    padding-bottom: 7px;
    font-family: 'Yeseva One', cursive;
    color: #cc9900;
}

.menu-item p {
    font-style: normal;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: black;
}

.menu-content h2 {
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    color: #cc9900;
}

.right-menu {
    margin-left: 170px;
}

/*--------------Barbecue---------------*/

#barbeque {
    background: white url("../img/Barbecuee.png") no-repeat;
    background-size: cover;
    min-height: 760px;
}

.central-section {
    margin: 0 auto;
}

.barbeque-content h2 {
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    color: white;
    padding-top: 70px;
}

.barbeque-content blockquote {
    font-family: 'Gentium Book Basic', serif;
    font-size: 25px;
    color: white;
    padding: 20px;
}

.barbeque-content p {
    font-family: 'Gentium Book Basic', serif;
    font-size: 18px;
    color: white;
}

.central-section {
    text-align: center !important;
    margin-top: 90px;
    height: 557px;
    width: 770px;
    background-image: radial-gradient(ellipse, transparent -5%, black);
}

/*-----------------Book-now------------------*/

#myForm {
    margin-top: 36px;
}

#booknow {
    background-repeat: no-repeat;
    background-image: url("../img/pattern.png");
    background-size: cover;
    min-height: 710px;
}

.booknow-pictures {
    padding-top: 100px;
}

.booknow-pictures-item:first-child {
    padding-right: 20px;
}

.booknow-pictures-item:last-child {
    padding-right: 20px;
}

.booknow-content-right h2 {
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    color: #cc9900;
    padding-top: 100px;
}

.booknow-content-right p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.booknow-content-right {
    padding-left: 47px;
    text-align: center !important;
    max-width: 450px; /*Починить*/
}

.form-group label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #cc9900;
    font-weight: bold;
}

.form-control {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: italic;
    color: #7c7c7c;
    opacity: 0.7;
    width: auto;
}

.form-group .form-control {
    border-radius: 0;
    height: 36px;
}

.form-group .form-control:focus {
    border-color: #cc9900;
    box-shadow: none;
    outline: 0 none;
}

.btn-book {
    height: 36px;
    width: 200px;
    border-radius: 0;
    margin: 30px auto 0;
    background-color: #c89f2d;
    color: white;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

/*---------------Footer-----------------*/
#footer {
    background: black no-repeat;
    background-size: cover;
    min-height: 320px;
}

.footer-first-column h2,
.footer-second-column h2,
.footer-third-column h2 {
    margin-top: 60px;
    font-family: 'Yeseva One', cursive;
    font-size: 21px;
    color: white;
}

.footer-first-column img,
.footer-second-column img,
.footer-third-column img {
    padding: 5px;
}

.footer-first-column p,
.footer-second-column p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: grey;
}

.footer-third-column p {
    color: white;
}

.footer-column-icons {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-column-icons .icons-item {
    display: inline-block;
    font-size: 22px;
    padding: 15px 5px 0 0;
    transition: 0.5s;
    color: white;
}

/*------------------Adaptive---------------------*/

@media (max-width: 1200px) {
    .section-btn {
        margin-bottom: 50px
    }

    #food {
        text-align: center !important;
    }

    .grad {
        margin-left: 260px;
    }

    .dish {
        float: none;
    }

    .food-content {
        margin: 0 auto;
        max-width: none;
        width: auto;
        padding-left: 0;
    }

    .right-menu {
        margin-left: 160px;
    }

    .booknow-pictures {
        margin: 0 auto;
    }

    .booknow-pictures-item {
        margin: 0 auto;
    }

    .booknow-content-right {
        padding-left: 0;
        margin: 0 auto;
    }
}

@media (max-width: 992px) {
    .section-btn {
        margin-bottom: 50px
    }

    #food {
        text-align: center !important;
    }

    .food-content {
        margin: 0 auto;
        max-width: none;
        width: auto;
        padding-left: 0;
    }

    .grad {
        margin-left: 0;
    }

    .right-menu {
        margin-left: 50px;
    }

    .barbeque-content h2 {
        font-size: 28px;
        padding-top: 70px;
    }

    .barbeque-content blockquote {
        font-size: 22px;
        padding: 20px;
    }

    .barbeque-content p {
        font-size: 18px;
    }

    .food-content {
        margin: 0 auto;
    }

    .booknow-content-right {
        padding-left: 0;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .section-btn {
        margin-bottom: 50px
    }

    #food {
        text-align: center !important;
    }

    .food-content {
        margin: 0 auto;
        max-width: none;
        width: auto;
        padding-left: 0;
    }

    .dish {
        display: none;
    }

    .grad {
        margin-left: 0;
    }

    .right-menu {
        margin-left: 120px;
    }

    .barbeque-content h2 {
        font-size: 28px;
        padding-top: 70px;
    }

    .barbeque-content blockquote {
        font-size: 22px;
        padding: 20px;
    }

    .barbeque-content p {
        font-size: 18px;
    }

    .booknow-content-right {
        padding-left: 0;
        margin: 0 auto;
    }

    /*-----------Footer-----------*/
    .footer-first-column h2,
    .footer-second-column h2,
    .footer-third-column h2 {
        font-size: 30px;
        text-align: center !important;
    }

    .footer-first-column p,
    .footer-second-column p,
    .footer-third-column p {
        font-size: 16px;
        text-align: center !important;
    }

    .footer-first-column,
    .footer-second-column,
    .footer-third-column {
        float: none;
    }
}

@media (max-width: 544px) {
    #hero {
        background-position: 100%;
    }

    .navbar {
        min-width: 100%;
        background: inherit;
    }

    .navbar .nav-item {
        padding: 0;
    }

    .row h1 {
        font-size: 50px;
        color: white;
    }

    .navbar .nav-link {
        font-size: 15px;
        font-weight: 400;
        color: white !important;
        font-family: 'Gentium Book Basic', serif;
        transition: 0.5s;
    }

    .navbar .nav-link:hover {
        color: #dab33e !important;
    }

    .text-center {
        margin-bottom: 70px;
    }

    .section-btn .text-md-center {
        text-align: center !important;
        margin: 20px;
    }

    .section-btn .btn {
        padding: 18px 21px;
        text-align: center !important;
        margin-bottom: 20px;
    }

    /*----------Food-----------*/
    .food-content {
        padding: 0;
    }

    .food-content h2 {
        font-size: 30px;
        padding-top: 70px;
    }

    .food-content p {
        font-size: 19px;
    }

    .dish {
        width: auto;
        height: auto;
        margin: 0;
    }

    /*---------Ingredients----------*/
    .ingredients-content {
        text-align: center !important;
    }

    .grad {
        text-align: center !important;
        width: auto;
        height: auto;
        margin-left: 0;
    }

    .food-pictures img {
        display: none;
    }

    /*---------------menu-----------------*/
    .right-menu {
        margin: 0;
    }

    /*--------------barbeque---------------*/
    .barbeque-content h2 {
        font-size: 28px;
        padding-top: 50px;
    }

    .barbeque-content blockquote {
        font-size: 20px;
        padding: 10px;
    }

    .barbeque-content p {
        font-size: 16px;
    }

    /**/
    #myForm {
        padding-left: 30px;

    }

    .booknow-pictures {
        display: none;
    }

    /*-----------Footer-----------*/
    .footer-first-column h2,
    .footer-second-column h2,
    .footer-third-column h2 {
        font-size: 30px;
        text-align: center !important;
    }

    .footer-first-column p,
    .footer-second-column p,
    .footer-third-column p {
        font-size: 16px;
        text-align: center !important;
    }

    .footer-first-column,
    .footer-second-column,
    .footer-third-column {
        float: none;
    }

    .footer-column-icons .icons-item {
        text-align: center;
    }
}